@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: Poppins;
  margin: 0;
  padding: 0;
  color: #333;
}
a {
  text-decoration: none;
}
heading {
  position: fixed;
  height: 50px;
  background: #25aae1;
  top: 0;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  /* Are you fit? */

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 131px;
  line-height: 129%;
  /* or 169px */

  display: flex;
  align-items: center;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* UTILITIES */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
  color: #aaa;
}

.landing_page_float_bottom {
  position: absolute;
  bottom: 0;
  right: 200px;
  z-index: -1;
  width: 200px;
}
.landing_page_float_bottom img {
  width: 400px;
  height: 400px;
}
#home .landing_caption {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 170%;
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(38, 36, 38, 0.6);
  margin-top: 20px;
}
#home h1 {
  color: linear-gradient(
    rgba(37, 170, 225, 1),
    rgba(74, 168, 193, 0.92),
    rgba(49, 178, 70, 0.35)
  );
}

.home_take_quiz {
  height: 60px;
  width: 250px;
  line-height: 40px;
  border-radius: 10px !important;
  margin-top: 50px;
  font-weight: bold;
  background: #25aae1;
  text-align: center;
  color: #fff;
  margin-left: 30px;
}
.home_take_quiz2 {
  height: 60px;
  width: 250px;
  line-height: 25px;
  border-radius: 10px !important;
  margin-top: 50px;
  font-weight: bold;
  background: #e9e9e9;
  color: rgba(0, 0, 0, 0.53);
  text-align: center;
}

.button_slide {
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #e9e9e9;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.home_take_quiz {
  width: 220px;
  height: 60px;
  line-height: 25px;
  border-radius: 10px;
  margin-top: 50px;
  font-weight: bold;
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #e9e9e9;
  color: #fff !important;
}
.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #25aae1;
}
.slide_right2:hover {
  box-shadow: inset 400px 0 0 0 #e9e9e9;
  /* border: 2px solid #e9e9e9; */
  color: rgba(0, 0, 0, 0.53) !important;
}

.button_slide2 {
  color: #fff;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #e9e9e9;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

@media only screen and (max-width: 600px) {
  img {
    width: 100%;
  }
  #home {
    margin-top: -200px;
  }
  #home .landing_caption {
    width: 90%;
    font-size: 0.8rem;
    margin-top: 30px;
  }
  #home .home_take_quiz {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin-top: 30px;
    background: #25aae1;
    font-size: 0.8rem;
    line-height: 10px;
  }
  .landing_page_float_bottom {
    width: 50%;
    right: 20px;
  }
  /* .landing_page_float_bottom {
    position: absolute;
    bottom: 0;
    right: 200px;
    z-index: -1;
    width: 200px;
  } */
  .landing_page_float_bottom img {
    width: 200px;
    height: 200px;
  }
}

/****************************************End HTML****************************/
#end h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 170%;
  color: #242624;
}
#end {
  text-align: left;
  align-items: flex-start;
}
#end li {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-left: 30px;
}
#end ul {
  margin-bottom: 40px;
}
.play_again {
  width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: #25aae1;
}
.go_home {
  width: 200px;
  background-color: transparent;
  border: 1px saddlebrown;
  color: rgba(37, 170, 225, 1);
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .play_again {
    width: 100px;
    height: 40px;
    line-height: 40px;
  }
  .go_home {
    width: 100px;
    background-color: transparent;
    border: 1px saddlebrown;
    color: rgba(37, 170, 225, 1);
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
  }
  #end li {
    font-size: 0.8rem;
  }
  /* #home {
    margin-top: -200px;
  } */
}
